.movie__inner {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 23%;
      position: relative;

      em {
        display: block;
        height: 80px;
        margin-bottom: 30px;
        font-family: var(--font-kor2);
        display: flex;
      }

      .title {
        padding: 5px 0;
        display: inline-block;
      }

      .star {
        background: #603fe7;
        color: #fff;
        position: absolute;
        left: 10px;
        top: -10px;
        text-align: center;
        line-height: 30px;
        font-weight: 800;
        width: 30px;
        height: 54px;
        /* border-radius: 100px; */
        box-shadow: 0px 4px 0px 3px #00000073;

        &::before {
          content: "";
          /* background: #4d2fca; */
          width: 100%;
          height: 0;
          border-bottom: 16px solid transparent;
          border-top: 16px solid transparent;
          border-left: 16px solid #3e23ab;
          border-right: 16px solid transparent;
          position: absolute;
          transform: rotate(270deg);
          bottom: 0;
          left: 0;
        }
      }

      a {
        img {
          height: 33vw;
          object-fit: cover;
        }
      }
    }
  }

  a {
    color: var(--white);
  }
}
<<<<<<< HEAD
=======
// swiper
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 700px;
}

.swiper-slide {
  background-position: center !important;
  background-size: cover !important;
  width: 300px !important;
  height: 450px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  box-shadow: 0px 20px 40px -15px #000000bd;
}
.movie__desc {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #000;
  width: auto !important;
  span {
    &:nth-child(2) {
      margin-right: auto !important;
    }
  }
}
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e

.movie__search {
  margin-bottom: 100px;

  .container {
    position: relative;
  }
  h2 {
    color: var(--white);
    font-size: 40px;
    text-indent: -9999px;
    height: 0;
  }
  input {
    background: #000;
    // border: 2px solid var(--white);
    // border-radius: 50px;
    border: none;
    border-bottom: 0.1px solid var(--white);
    color: #fff;
    width: 100%;
    padding: 20px;
    font-family: var(--font-kor2);
  }
  button {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 2.8;
    border: 0;
    font-family: var(--font-kor2);
    cursor: pointer;
    z-index: 1000;
    background: transparent;
    color: #fff;
    transform: scale(2.3) rotate(319deg);
  }
}

<<<<<<< HEAD

.cont__popular__movie{
  margin-top: 200px;
  position: relative;

    &::before,
    &::after{
      content: '';
      position: absolute;
    }
    &::before{
      background: linear-gradient(90deg, rgb(0, 0, 0), transparent);
      width: 230px;
      height: 100%;
      left: 0;
      top: 0;
    }
    &::after{
      background: linear-gradient(-90deg, rgb(0, 0, 0), transparent);
      width: 230px;
      height: 100%;
      right: 0;
      top: 0;
    }
  

  &::before{
    position: absolute;
    content: '';
=======
.cont__popular__movie {
  margin-top: 200px;
  position: relative;

  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 50px;
    text-transform: uppercase;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
  }
  // &::before {
  //   background: linear-gradient(90deg, rgb(0, 0, 0), transparent);
  //   width: 230px;
  //   height: 100%;
  //   left: 0;
  //   top: 0;
  // }
  // &::after {
  //   background: linear-gradient(-90deg, rgb(0, 0, 0), transparent);
  //   width: 230px;
  //   height: 100%;
  //   right: 0;
  //   top: 0;
  // }

  &::before {
    position: absolute;
    content: "";
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
    top: -360px;
    left: 50%;
    width: 258px;
    height: 397px;
    border-radius: 100%;
    background: #ffffff5e;
    filter: blur(95px);
    transform: translate(-50%, 0);
  }
}
<<<<<<< HEAD
.movie__popular_inner{
  // overflow-x:scroll;
  ul{
=======
.movie__popular_inner {
  div {
    // width: 70%;
  }
  span {
    color: #fff;
    &:nth-child(2) {
      // background: rgb(39, 39, 39);
      color: #fff;
      padding-top: 15px;
      margin-right: 20px;
      border-radius: 100px;
    }
  }
  // overflow-x:scroll;
  ul {
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
    display: flex;
    padding: 0 50vw;
    scroll-snap-type: x mandatory;
    overflow-y: scroll;
<<<<<<< HEAD
    li{
=======
    li {
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
      scroll-snap-align: center;
      object-fit: cover;
      margin: 55px;
      // height: 500px;
      position: relative;
<<<<<<< HEAD
      a{
        span{
=======
      a {
        span {
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
          font-size: 22px;
          color: #fff;
          display: block;
          text-align: center;

<<<<<<< HEAD
          &:nth-child(3){
            font-size: 28px;

          }
        }
      }
      img{
        width: 33vh;
      }

      &:nth-child(20){&::before{content: '20';}}
      &:nth-child(19){&::before{content: '19';}}
      &:nth-child(18){&::before{content: '18';}}
      &:nth-child(17){&::before{content: '17';}}
      &:nth-child(16){&::before{content: '16';}}
      &:nth-child(15){&::before{content: '15';}}
      &:nth-child(14){&::before{content: '14';}}
      &:nth-child(13){&::before{content: '13';}}
      &:nth-child(12){&::before{content: '12';}}
      &:nth-child(11){&::before{content: '11';}}
      &:nth-child(10){&::before{content: '10';}}
      &:nth-child(9){&::before{content: '9';}}
      &:nth-child(8){&::before{content: '8';}}
      &:nth-child(7){&::before{content: '7';}}
      &:nth-child(6){&::before{content: '6';}}
      &:nth-child(5){&::before{content: '5';}}
      &:nth-child(4){&::before{content: '4';}}
      &:nth-child(3){&::before{content: '3';}}
      &:nth-child(2){&::before{content: '2';}}
      &:nth-child(1){&::before{content: '1';}}
=======
          &:nth-child(3) {
            font-size: 28px;
          }
        }
      }
      img {
        width: 33vh;
      }

      &:nth-child(20) {
        &::before {
          content: "20";
        }
      }
      &:nth-child(19) {
        &::before {
          content: "19";
        }
      }
      &:nth-child(18) {
        &::before {
          content: "18";
        }
      }
      &:nth-child(17) {
        &::before {
          content: "17";
        }
      }
      &:nth-child(16) {
        &::before {
          content: "16";
        }
      }
      &:nth-child(15) {
        &::before {
          content: "15";
        }
      }
      &:nth-child(14) {
        &::before {
          content: "14";
        }
      }
      &:nth-child(13) {
        &::before {
          content: "13";
        }
      }
      &:nth-child(12) {
        &::before {
          content: "12";
        }
      }
      &:nth-child(11) {
        &::before {
          content: "11";
        }
      }
      &:nth-child(10) {
        &::before {
          content: "10";
        }
      }
      &:nth-child(9) {
        &::before {
          content: "9";
        }
      }
      &:nth-child(8) {
        &::before {
          content: "8";
        }
      }
      &:nth-child(7) {
        &::before {
          content: "7";
        }
      }
      &:nth-child(6) {
        &::before {
          content: "6";
        }
      }
      &:nth-child(5) {
        &::before {
          content: "5";
        }
      }
      &:nth-child(4) {
        &::before {
          content: "4";
        }
      }
      &:nth-child(3) {
        &::before {
          content: "3";
        }
      }
      &:nth-child(2) {
        &::before {
          content: "2";
        }
      }
      &:nth-child(1) {
        &::before {
          content: "1";
        }
      }
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e

      &:nth-child(20),
      &:nth-child(19),
      &:nth-child(18),
      &:nth-child(17),
      &:nth-child(16),
      &:nth-child(15),
      &:nth-child(14),
      &:nth-child(13),
      &:nth-child(12),
      &:nth-child(11),
      &:nth-child(10),
      &:nth-child(9),
      &:nth-child(8),
      &:nth-child(7),
      &:nth-child(6),
      &:nth-child(5),
      &:nth-child(4),
      &:nth-child(3),
      &:nth-child(2),
<<<<<<< HEAD
      &:nth-child(1){
        &::before{
=======
      &:nth-child(1) {
        &::before {
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
          // content: '1';
          position: absolute;
          top: -10px;
          left: 10px;
          background: #fa234f;
          width: 49px;
          height: 84px;
          text-align: center;
          font-size: 24px;
          color: #fff;
          font-weight: bold;
          line-height: 3;
          border-top: 2px solid #ffffff4a;
          box-shadow: 0px 10px #6b192a63;
        }
<<<<<<< HEAD
        &::after{
=======
        &::after {
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
          /* position: absolute; */
          content: "";
          height: 0;
          border-bottom: 25px solid transparent;
          border-top: 25px solid transparent;
          border-left: 25px solid #6b192a;
          border-right: 25px solid transparent;
          position: absolute;
          transform: rotate(270deg);
          top: 24px;
          left: 9px;
        }
      }
    }
  }
<<<<<<< HEAD
}
=======
}
>>>>>>> 6f4d3d0dd7da6b4ad11091fce0f5d4da5e65c72e
